PORT=3000
BASE_PATH=/ims

DB_HOST=your-rds-primary-endpoint.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=your-password
DB_NAME=internship_management

DB_READ_HOST=your-rds-read-replica-endpoint.amazonaws.com
DB_READ_USER=admin
DB_READ_PASSWORD=your-password
